@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  transition: ease-in-out;
}


.photo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 50%;
  height: 100%;
  display: none;
  z-index: 100  ;
  background-color: rgb(255, 255, 255)  ;
  
}

.photo.active {
  display: block;
}

